* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #212121;
    color: white;
}

html {
    font-size: 62.5%;
}

.navbar {
    margin: 30px;

}

.navbar>h1 {
    font-size: 3rem;
    font-weight: 100;
}

.main {
    /* padding:50px 0px ; */
    text-align: center;
    border: 2px solid white;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    n

}
#chat-box{
    height: 75vh;
}
#chat-box >h1 {
    margin-top: 100px;
    font-size: 4rem;
    font-weight: 200;
    border: 2px solid white;
    justify-content: centder;
    
}

.inputs {
    padding: 12px;
    background-color: #303030;
    color: white;
    /* padding: 8px 8px 8px 160px; */
    border: 1px solid #303030;
    border-radius: 30px 30px;
    display: flex;

    justify-content: space-between;
}

.inputs>input {
    background-color: #303030;
    /* flex: 1; */
    color: white;
    padding:8px 250px 8px 8px;
    border: 1px solid #303030;
    /* border-radius: 30px 30px; */

}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: left;
}

input:focus {
    outline: none;
    border: none;
}

button {
    /* margin-left: 10px; */
    padding: 10px 15px;
    cursor: pointer;
    padding: 6px 20px;
    border: 1px solid #EFEFEF;
    border-radius: 16px;
}